.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}

.header button {
  font-size: 1.3rem;
  padding: 10px 20px;
  margin: auto 0;
  background-color: hsla(35, 90%, 50%, 1);
  color: white;
  outline: inherit;
  border: none;
  border-radius: 5px;
}

.header button:hover {
  cursor: pointer;
  background-color: hsla(35, 90%, 45%, 1);
}

.header button:active {
  background-color: hsla(35, 90%, 40%, 1);
}

.componentList {
  height: 100%;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  justify-content: center;
}