.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  height: 85px;
  overflow: hidden;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button {
  font-size: 1.3rem;
  padding: 10px 20px;
  margin: auto 0;
  background-color: hsla(35, 90%, 50%, 1);
  color: white;
  outline: inherit;
  border: none;
  border-radius: 5px;
}

@media (max-width: 819px) {
  .header h1 {
    font-size: 1.5rem;
  }

  .header button {
    font-size: 1rem;
  }

  #sidebar-wrapper {
    display: none;
  }
}

@media (max-width: 650px) {
  .header h1 {
    font-size: 1rem;
  }

  .header button {
    padding: 5px 10px;
  }
}

.header button:hover {
  cursor: pointer;
  background-color: hsla(35, 90%, 45%, 1);
}

.header button:active {
  background-color: hsla(35, 90%, 40%, 1);
}

.contentContainer {
  height: 100%;
  overflow: auto;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}